*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

:root{
    --dark-blue:#262e38;
    --light-gray:#969FAD;
    --medium-gray:#7C8798;
    --orange:#FC7614;
    --pure-white:#FFFFFF;
    --very-dark-blue:#131518;
    --blac-gradient:radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}